{
  "scripts": {
    "test:e2e": "playwright test tests/e2e",
    "test:ct": "playwright test tests/components",
    "test:playwright": "playwright test"
  },
  "devDependencies": {
    "@playwright/test": "^1.49.0",
    "@playwright/experimental-ct-react": "^1.49.0"
  }
}
